body{
    background-image: url(7_2.jpg);
    background-size: cover;
}
h1{
    text-shadow: 2px 2px 0 #cccccc;
    display:inline-block;
    width:80%;
}
.log
{
    display:inline-block;
    width:83%;
    text-align: right;
}

.icon-style{
    width: 2.5em;
    height: 2.5em;
}
.icon-style2{
    width: 7em;
    height: 7em;
}
.logo{
    text-align:center;
    margin-left: 5%;
}
.head{ 
    display:inline-block;
    text-align: left;
    margin-left:1.5em;
    width: 92%;
    
}
.user{
    display:inline-block;
    text-align: left;
    margin: 1em;
    font-family: cursive;
}
.more{
    text-align: center;
    font-weight: bold;
}

.avatar{
    border-radius: 2em;
    height: 3.5em;
    width: 3.5em;
    display:inline-block;
    border: 2px;
    margin-left:0.8em;
    margin-top:1.2em;
    background-color: #F2E0F7;
}
.textav{
    position: absolute;
    margin-left:0.8em;
    font-size:1em;
    font-weight: bold;
}
.textav:first-letter{
    margin-left:0.4em;
}
.name{
    width:66%;
    height:30%;
    margin-left:5%;
    display:inline-block;
    font-family: cursive;
}
.settings{
    width: 2.5em;
    height: 2.5em;
    margin-right:0.5em;
}

.descr{
    width:85%;
    margin-left:5%;
    margin-bottom:2%;
    display:inline-block;
    font-family: century gothic;
    font-size:1.2em;
    overflow:auto;
}
.photo{
    height:100%;
    width:100%;
}
.filter{
    text-align: center;
    margin-top:5%;
    margin-left:80%;
    display:inline-block;
    width:18%;
    float:right;
    position:fixed;
    left:0%;
    top:40%;
    right:3%;
    bottom:15%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.all{
    width:60%;
    display:inline-block;
    height:80%;
    margin-top:2%;
    margin-bottom:5%;
    margin-left:16%;
}
.up{
    width:100%;
    height:20%;
    margin:0%;
    background: white;
    border: solid 1px grey;
    border-radius: 3px;
}
.down{
    width:100%;
    height:40%;
    background: white;
    border: solid 1px grey;
    border-radius: 3px;
}
.photoplace{
    width:100%;
    height:80%;
    text-align: center;
}
.photoplace2{
    width:100%;
    height:80%;
    text-align: center;
    border:1px;
    
}
.lef{
    text-align:left;
    padding-left:13%;
}
a:link {
    color: #8B008B;
}

a:visited {
    color: #8B008B;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #FF00FF;  
}
.log2
{
    display:inline-block;
    width:95%;
    text-align: right;
    font-size: 1.5em;
    text-decoration: underline;
}
.authoriz{
    text-align: center;
}
.authrect{
    width:40%;
    height:70%;
    margin-left:30%;
    background: white;
    border: solid 1px grey;
    border-radius: 20px;
}
.authinputs{
width:20em;
    height:4em;
    border-radius: 20px;
   margin-right:2em;
   background-color:#F0FFFF;
   font-family: Cursive, sans-serif;
   font-size:0.8em;
   
}
.authtext{
    font-family: CORBEL,GEORGIA, CENTURY GOTHIC;
    color:#008000;
    
}
.greettext{
    font-family: Cursive, sans-serif;
    font-size: 0.9em;
}
.modalwindtext{
    font-family: Cursive, sans-serif;
    font-size: 1.7em;
    text-align: center;
}
.logokbutton{

  font-size:1em;
  text-decoration: none;
  margin-top:1em;
  padding: .5em 2em;
 border:solid green;
  
  border-radius: 10px;
  transition: 0.2s;
}
#b {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:1;
}

#a {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:3;
display:none;
margin-left:30%;
}

#windows {
padding:5px;
width: 20em;
height: 20em;;
border: 2px solid green;

}
.button{
float: left;
color: green;
background: white;
padding: 2%;
margin-left: 14%;
margin-top:15%;
width: 30%;
height:15%;
font-size:1.6em;
border-radius: 5px;
text-align: center;
text-decoration: none;
}
.button2{
float: right;
color: green;
background: white;
padding: 2%;
margin-left: 14%;
margin-top:2%;
width: 25%;
height:15%;
font-size:1.6em;
border-radius: 5px;
text-align: center;
text-decoration: none;
}
.button3{
float: left;
color: green;
background: white;
padding: 2%;
margin-left: 14%;
margin-top:2%;
width: 25%;
height:15%;
font-size:1.6em;
border-radius: 5px;
text-align: center;
text-decoration: none;
}
.okbutton{

display:block;
color: green;
background: white;
padding: 2%;
margin-left: 30%;
margin-top:15%;
width: 30%;
height:15%;
font-size:1.6em;
border-radius: 5px;
text-align: center;
text-decoration: none;
}
.textarea{
     width:85%;
    margin-left:5%;
    margin-bottom:2%;
    margin-top:2%;
    display:inline-block;
    font-family: century gothic;
    font-size:1.2em;
    overflow:auto;
    border-radius: 5px;
    border:1px solid;
}
.ph{
    width:100%;
    height:100%;
}